/*font-family: 'Playfair Display', serif;
font-family: 'Vollkorn', serif;
font-family: 'Nanum Myeongjo', serif;*/

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../../ep_naturalblack.png');
    color: #f7f7f7;
    overflow-x: hidden;
    width: 95%;
    margin: 0 auto;
    height: 100%;
    font-family: 'Vollkorn', serif;
}

#head {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}

#head span {
    
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: #db3434;
    position: relative; 
    left: -10px;
    font-family: 'Rock Salt', cursive;
}

.custom-bg {
    background-color: rgb(255, 255, 255, 0.1);
    height: 100%;
    position: fixed;
    min-height: 100%;
    margin: 0px 0px;
    padding: 10px;
    text-align: center;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

.button-style button {
    margin: 10px;
    font-size: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: transparent;
    color: #28a745;
    border: 1px solid #28a745;
    border-radius: 0.25rem;
}

.button-style button:hover {
    background-color: #28a745;
    color: #ffffff;
}

.gif-holder {
    margin: 10px 30px;
    display: inline-block;
    box-shadow: 0px 10px 48px -24px #28a745bf;
    position: relative;
    cursor: pointer;
}

.gif-holder p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(40, 167, 69, 0.75);
    padding: 10px;
    height: 40px;
    margin: 0 auto;
    box-shadow: 3px 0px 78px 0px rgba(0,0,0,0.75);
}

#instruct {
    display: flex;
    font-size: 24px;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px;
    text-transform: uppercase;
    
}

#limit-input {
    padding: 0px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid #ffffff;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
}

button:active,
button:focus,
button:focus:active, input:focus, input:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}

.custom-btn {
    /* display: none; */
    background-color: #db3434;
    margin: 5px;
}

@media screen and (max-width: 991px) {
    .custom-bg {
        position: static;
    }
}

.favorite-button {
    /* display: none; */
    background-color: #e7de5f;
    font-size: 40px;
    padding: 30px 0px;
}